@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro ao Iniciar Torneio</h1>
<h2>Por favor selecione 16 jogadores!</h2>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">Voltar à lista de jogadores</a>